parameters = {
  {
    id = "nominal_lin_vel",
    reconfigurable = true,
    type = "double",
    default = 0.02,
    min = 1e-3,
    max = 1,
    description = "Nominal linear velocity for the planned trajectory",
    unit = "meter/second"
  },
  {
    id = "nominal_ang_vel",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-3,
    max = 1,
    description = "Nominal angular velocity for the planned trajectory",
    unit = "radian/second"
  }
}