parameters = {
  {
    id = "nominal_lin_vel",
    reconfigurable = true,
    type = "double",
    default = 0.02,
    min = 1e-3,
    max = 1,
    description = "Nominal linear velocity for the planned trajectory",
    unit = "meter/second"
  },
  {
    id = "nominal_ang_vel",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-3,
    max = 1,
    description = "Nominal angular velocity for the planned trajectory",
    unit = "radian/second"
  },
  {
    id = "exec_error_penalty",
    reconfigurable = true,
    type = "double",
    default = 1000.0,
    min = 0.0,
    max = 1e9,
    description = "Additional cost of taking a state and action in the neighborhood of a previous execution error",
    unit = "unitless"
  },
  {
    id = "exec_error_state_radius_pos",
    reconfigurable = true,
    type = "double",
    default = 0.2,
    min = 0.0,
    max = 1e9,
    description = "Position radius defining a neighborhood in the state space around previous execution errors",
    unit = "meters"
  },
  {
    id = "exec_error_state_radius_yaw",
    reconfigurable = true,
    type = "double",
    default = 0.5,
    min = 0.0,
    max = 1e9,
    description = "Angular (yaw) radius defining a neighborhood in the state space around previous execution errors",
    unit = "radians"
  },
  {
    id = "exec_error_action_radius",
    reconfigurable = true,
    type = "double",
    default = 0.2,
    min = 0.0,
    max = 1e9,
    description = "Angular radius defining a neighborhood in the action space around previous execution errors",
    unit = "radians"
  },
}