parameters = {
  {
    id = "goal_pos_tol",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-2,
    max = 2,
    description = "Tolerance on the goal position of the robot",
    unit = "meters"
  },
  {
    id = "goal_orien_tol",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-2,
    max = 6,
    description = "Tolerance on the goal orientation (yaw) of the robot",
    unit = "radians"
  },
  {
    id = "x_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the robot's x-position",
    unit = "meter/unit"
  },
  {
    id = "y_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the robot's y-position",
    unit = "meter/unit"
  },
  {
    id = "z_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the robot's z-position",
    unit = "meter/unit"
  },
  {
    id = "yaw_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the robot's yaw",
    unit = "radian/unit"
  },
  {
    id = "prox_angle_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the proximal angle of the robot's manipulator",
    unit = "radian/unit"
  },
  {
    id = "dist_angle_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the distal angle of the robot's manipulator",
    unit = "radian/unit"
  },
  {
    id = "nominal_lin_vel",
    reconfigurable = true,
    type = "double",
    default = 0.02,
    min = 1e-3,
    max = 1,
    description = "Nominal linear velocity for the planned trajectory",
    unit = "meter/second"
  },
  {
    id = "nominal_ang_vel",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-3,
    max = 1,
    description = "Nominal angular velocity for the planned trajectory",
    unit = "radian/second"
  },
  {
    id = "nominal_joint_vel",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-3,
    max = 1,
    description = "Nominal joint velocity for the planned trajectory",
    unit = "radian/second"
  },
  --- Discrepancy parameters.
  {
    id = "discrepancy_penalty",
    reconfigurable = true,
    type = "double",
    default = 100.0, --- 1000.0,
    min = 0,
    max = 100000,
    description = "Cost penalty for using a transition within the neighborhood of a discrepancy",
    unit = "unitless"
  },
  {
    id = "discrepancy_radius_pos",
    reconfigurable = true,
    type = "double",
    default = 0.2,
    min = 1e-2,
    max = 100,
    description = "Radius of the neighborhood around the (x, y, z) position of a discrepancy",
    unit = "meters"
  },
  {
    id = "discrepancy_radius_orien",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-2,
    max = 100,
    description = "Radius of the neighborhood around the yaw of a discrepancy",
    unit = "radians"
  },
  {
    id = "discrepancy_radius_prox_angle",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-2,
    max = 100,
    description = "Radius of the neighborhood around the proximal angle of a discrepancy",
    unit = "radians"
  },
  {
    id = "discrepancy_radius_dist_angle",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-2,
    max = 100,
    description = "Radius of the neighborhood around the distal angle of a discrepancy",
    unit = "radians"
  },
  {
    id = "use_likelihood_weighted_penalty",
    reconfigurable = true,
    type = "boolean",
    default = true,
    description = "If set to true, a penalty is assigned to each transition proportional to the likelihood of there being a discrepancy at that transition",
    unit = "boolean"
  },
}