parameters = {
  {
    id = "goal_dist_thresh",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-2,
    max = 2,
    description = "Threshold on the distance to the goal position to be considered at the goal",
    unit = "meters"
  },
  {
    id = "goal_angle_thresh",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-2,
    max = 6,
    description = "Threshold on the angular distance to the goal position to be considered at the goal",
    unit = "radians"
  },
  {
    id = "x_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the robot's x-position",
    unit = "meter/unit"
  },
  {
    id = "y_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the robot's y-position",
    unit = "meter/unit"
  },
  {
    id = "z_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the robot's z-position",
    unit = "meter/unit"
  },
  {
    id = "yaw_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the robot's yaw",
    unit = "radian/unit"
  },
  {
    id = "prox_angle_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the proximal angle of the robot's manipulator",
    unit = "radian/unit"
  },
  {
    id = "dist_angle_disc",
    reconfigurable = false,
    type = "double",
    default = 0.01,
    min = 1e-3,
    max = 1,
    description = "Discretization of the distal angle of the robot's manipulator",
    unit = "radian/unit"
  },
  {
    id = "nominal_lin_vel",
    reconfigurable = true,
    type = "double",
    default = 0.05,
    min = 1e-3,
    max = 1,
    description = "Nominal linear velocity for the planned trajectory",
    unit = "meter/second"
  },
  {
    id = "nominal_ang_vel",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-3,
    max = 1,
    description = "Nominal angular velocity for the planned trajectory",
    unit = "radian/second"
  },
  {
    id = "nominal_joint_vel",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 1e-3,
    max = 1,
    description = "Nominal joint velocity for the planned trajectory",
    unit = "radian/second"
  }

}